* {margin: 0;padding: 0;box-sizing: border-box;}

body{background-size: 90%;}
body{
background-color: #2a2e43;}
.navigation {grid-area: navigation;}
.header {grid-area: header;}
.content {grid-area: content;}
.footer {grid-area: footer;}

.container {
  width: 100%;/*100% of 90% body background-size*/
  text-align: center;
    
  display: grid;
    grid-gap: 1% 1%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, minmax(60px, auto));
    
  grid-template-areas: 
    "navigation"
    "header"
    "content"
    "footer";
}

/* Hide the checkbox */
input[type=checkbox] {
    position: fixed;
    visibility: hidden;
}
/* start toggle */
.nav-alter {
    display: block;
    position: fixed;
    top: 10px;
    left: 0px;
    height: 32px;
    width: 40px;
    cursor: pointer;
    z-index: 99;
    margin-left: 10px;
    transition: margin .3s;}
.nav-alter span {
    position: relative;
    display: block;
    height: 4px;
    width: 45px;
    background: #000;
    transition: all .3s;
    background-color: #ffffff;}
.nav-alter span:nth-child(2) {top: 12px;}
.nav-alter span:nth-child(3) {top: 24px;}

/*moving toggle */
input[type=checkbox]:checked ~ .nav-alter {margin-right: 290px;}
input[type=checkbox]:checked ~ .nav-alter span:nth-child(1) {top: 15px;
    transform: scale(0.5) rotate(-45deg);}
input[type=checkbox]:checked ~ .nav-alter span:nth-child(2) {display: none;}
input[type=checkbox]:checked ~ .nav-alter span:nth-child(3) {top: 13px;
    transform: scale(0.5) rotate(45deg);}

/*menu moving*/
input[type=checkbox]:checked ~ .menucontainer .menu {
    margin-left: 0;
    background-color: rgb(0, 0, 0, 0.4);
}

/* The menu */
.menu {
    position: fixed;
    top: 0;
    width:100%;
    margin-top: 52px;
    margin-left: -570px;
    transition: margin .1s;
}
ul {
    list-style: none;
    margin-top: 15px;
}

.menu ul ul {
    max-height: 0;
    overflow:hidden;
    transition: max-height .3s;
}

.menu ul li:hover > ul {
    max-height: 600px;
    height: auto;
}

li a {
    text-decoration: none;
    display: block;
    color: #ffffff;
    font-size: 22px;
    font-family: sans-serif;
}

/*start adding pseudo element*/
li a::after {
    content: '+';
    transition: .2s;
    display: inline-block;
    margin-left: 5px
}

li a:hover::after {
    content: '+';
    transform: rotate(45deg);
}

li a:only-child::after {
    content: '';
}


/*navigation start*/
nav{
    width: 100%; 
    
    background-color: #273A5E;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.navcart {
    margin-left: auto;
}

.navcart img {
    height: 40px;
    margin-right: 15px;
    border-radius: 20px;
}

/*header start*/
.header{
    width: 100%;
    height: 220px;
    
    position:fix;
    overflow: auto;
    
    background: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    
    display: flex;
    align-items: center;
}
.headerlogo{
     margin-left: auto;
    margin-right: 20px;
}
.headerlogo img{
    width:90px;
    height: 90px; 
}


/*content for booklist*/
.contentbooklist{
    margin-top:90px ;
    margin-bottom:190px;
    display: grid;
    grid-gap: 2% 2%;
     grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto; 
}

.contentbooklist1,.contentbooklist2,.contentbooklist3,
.contentbooklist4,.contentbooklist5,.contentbooklist6,
.contentbooklist7,.contentbooklist8,.contentbooklist9,
.contentbooklist10,.contentbooklist11,.contentbooklist12{
   box-shadow: 7px 7px 7px 7px white;
   padding: 15px;margin:10px;

}
.rebrik{border-radius: 40px;}
.rebrik >a{text-decoration:none; color:#FFFFFF;}
.contentbooklist img{
    height: 180px;
}
 .anime {

    margin-top:20px;
      bottom: 0;
      left: 0;
      right: 0;
      background: #fff;
      background: rgba(0, 0, 0, 0.5);
      color: #FFF;
      padding: 10px;
      text-align: center;
      border-radius: 30px;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }
.price {
  color: grey;
  font-size: 20px;
}

.text{
    font-family:cursive;
    font-size: 14px;
}

.quantity{
    font-family:sans-serif;
    font-size: 16px;
}

input[type="number"] {
    width: 15%;
    height: 4vh;
    text-align: center;
    color: #151314;
    font-size: 16px;
    margin-bottom: 5px;
}


.contentbooklist button{
    color: #ffffff;
    background-color: #51AADF;
    text-align: center;
    width: 90%;
    font-size: 18px;
    border: none;
    outline: 0;
    padding: 8px;
    margin-bottom: 15px;
   
}
.contentbooklist button
.contentbooklist button:hover{
    opacity: 0.5;
}


/*footer start*/
footer{padding:15px;margin-top: 15px;margin-bottom: 10px;
    width: 100%; 
    text-align: center;
    color: #ffffff;
    background-color: #273A5E;
    opacity: 0.9;
}

footer a{
    color: #ffffff;
}

.footer4{}
.footer3{}
.footer img{width: 30px;height: 30px; margin: 5px;}
.footer2{}
.footer1{}
/*formulair*/
section{ 
background-image:url('img/contact.jpg');
margin:10px;
background-size: cover;
background-repeat: no-repeat;
}
h1{color: #ffffff;padding-top: 20px;}
label{color: #ffffff;}
.form-style-1 {
    margin:10px auto;
    max-width: 500px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 100%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 180px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #51AADF;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
    cursor:pointer ;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}
@media (min-width: 960px) and (max-width: 1024px) {

    .nav-alter {
        display: none;
    }

    .menu {
        margin-top: 0;
        margin-left: 0;
        width: 85%;
    }

    .menu ul {
        padding: 0;
        margin: 0;
        position: relative;
        list-style: none;
    }

    .menu ul li {
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.4);
        width: auto;
        position: relative;
        margin-left: -4px;
    }

    .menu a {
        display: block;
        padding: 0 10px;
        color: #FFF;
        font-size: 16px;
        line-height: 60px;
        text-decoration: none;
    }

    .menu a:hover {
        background-color: #000000;
    }

    /* keeps the dropdown invisible and assign style to list*/
    .menu ul ul {
        display: none;
        position: absolute;
        overflow: visible;
        top: 60px;
        margin-left: -32px;
        width: 147px;
    }

    /* show dropdown 1st 2nd level on hover */
    .menu ul li:hover > ul {
        display: inherit;
    }

    /* 1st level */
    .menu ul ul li {
        display: list-item;
        float: none;
        position: relative;
    }

    .navregister {
        margin-left: 20px;
    }

    .contentbooklist {
        margin-top: 0;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

}






/*media query for desktop*/
@media only screen and (min-width: 1024px) {

    .nav-alter {
        display: none;
    }

    .menu {
        margin-top: 0;
        margin-left: 0;
        width: 85%;
    }

    .menu ul {
        padding: 0;
        margin: 0;
        position: relative;
        list-style: none;
    }

    .menu ul li {
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.4);
        width: auto;
        position: relative;
        margin-left: -4px;
    }

    .menu a {
        display: block;
        padding: 0 10px;
        color: #FFF;
        font-size: 16px;
        line-height: 60px;
        text-decoration: none;
    }

    .menu a:hover {
        background-color: #000000;
    }

    /* keeps the dropdown invisible and assign style to list*/
    .menu ul ul {
        display: none;
        position: absolute;
        overflow: visible;
        top: 60px;
        margin-left: -30px;
        width: 145px;

    }

    /* show dropdown 1st 2nd level on hover */
    .menu ul li:hover > ul {
        display: inherit;
    }

    /* 1st level */
    .menu ul ul li {
        display: list-item;
        float: none;
        position: relative;
    }


    nav {
        height: 100%;
    }

 
    .navcart img {
        margin-right: 100px;
    }

    .header {
        height: 350px;
    }

    .headerlogo {
        margin-right: 90px;
    }

    .headerlogo img {
        width: 200px;
        height: 200px;
    }

    .contentbooklist {
        margin-top: 0;
        margin-bottom: 20px;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }
    
/*footer*/
    footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }

    .footer1 {
        margin-left: 15px;
    }

    .footer4 {
        margin-right: 15px;
    }
}
