* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.googlemap {
    position: absolute;
    top: 190px;
    right: 12%;
    height: 400px;
    width: 400px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 400px;
    width: 400px;
}
